body {
  background-repeat: no-repeat;
  background-size: inherit;
  background-attachment: fixed;
  background-position: top;
  background-color: #F5F5F5;
}

h1 {
  text-align: center;
  text-shadow: 5px 5px 10px yellow
}


h2 {
  text-align: center;
}

p{
  text-align: left;
  padding-left: 20px;

}

footer {
  text-align: center;
}
